body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    text-align: center;
    width: 100%;
    height: auto;
}

h1, h2, p {
    text-align: center;
}


.tab-desk {
    display: none;
}

body {
    background: linear-gradient(to right, #90e0ef, #00b4d8, #0077b6);
    background-size: cover; /* Ensures the background covers the entire viewport */
}


.fish-image {
    width: 100%;
    height: auto; 
    max-height: 10%; 
    padding: 20px 0;
}


/* Media query for tablets */
@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .tab-desk {
        display: inline-block;
    }


    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto; 
        gap: 10px;
    }

    .grid-container2 {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }
    .grid-container2 h2{
        font-size: 2em
    }

    .grid-container2 img {
        text-align: center;
        max-width: 90%;
        max-height: 50%;
        height: auto;
        margin: 0 auto

    }


}