/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Mobile Viewport rules */
/* Style rule shows mobile class and hides tab-desk class */
.mobile, .mobile-tablet {
    display: block;
}

.tab-desk, .desktop, #nav-links {
    display: none;
}

/* Style rules for header area */
.mobile h1, .mobile h3 {
    padding: 2%;
    text-align: center;
}

/* Set the body to fill the entire viewport */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    text-align: center;
    width: 100%;
    height: auto;
}

h1, h2, p {
    text-align: center;
}


.tab-desk {
    display: none;
}

body {
    background: linear-gradient(to right, #90e0ef, #00b4d8, #0077b6);
    background-size: cover; /* Ensures the background covers the entire viewport */
}


.fish-image {
    width: 100%;
    height: auto; 
    max-height: 10%; 
    padding: 20px 0;
}
.tab-desk {
    display: none;
}

.ocean-backgound {
    background: linear-gradient(to bottom, #0077b6, #00b4d8, #90e0ef);
}

/* Style rules for Nav area */
nav {
    background-color: #2a1f14;
}

.mobile-nav a {
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.nav-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #f6eee4;
    padding: 2%;
}

.nav-icon div {
    height: 40px;
    width: 40px;
    color: #2a1f14;
}






/* Media query for tablets */
@media screen and (min-width: 768px) {

    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }

    .mobile, .mobile-nav {
        display: none;
    }

    /* Style rules for nav area */
    nav ul {
        list-style-type: none;
        text-align: center;
    }

    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
        font-family: Geneva, Arial, sans-serif;
        font-weight: bold;
    }

    nav li a {
        padding: 0.5em;
        display: block;
        color: #f6eee4;
        text-decoration: none;
    }

    /* Set the body to fill the entire viewport */
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }



    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto; 
        gap: 10px;
    }

    


    .grid-container2 {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }
    .grid-container2 h2{
        font-size: 2em
    }

    .grid-container2 img {
        text-align: center;
        max-width: 90%;
        max-height: 50%;
        height: auto;
        margin: 0 auto

    }
}