/* Mobile Viewport rules */
@media screen and (max-width: 768px) {
    #tab-desk {
        display: none;
    }
}



/* Media query for tablets */
@media screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
        gap: 20px; /* Gap between columns */
        }

}